@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.2rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Raleway';
  
  background: rgb(131,58,180);
  background: linear-gradient(356deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
.glass{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
nav
{
  width: 20%;
  height: 90%;
  position: absolute;
  top: 4%;
  left: 4%; 
  padding: 0;
  line-height: 1;
  text-align: center;
}
.condiv
{
  width: 60%;
  height: 90%;
  position: absolute;
  top: 4%;
  left: 28%; 
  line-height: 1;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.profilepic
{ 
  border-radius: 50%;
  width: 200px;
  margin: 20px;
  opacity: 90%;
}

nav ul{
  position: absolute;
  bottom: 12%;
  left: 5%;
  width: 90%;
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}
nav ul li
{
  margin:15px;
  padding: 11px;
  border-radius: 10px;
  color: white;
}
nav ul li:hover{
  background-color: #ffffff80;
}

a
{
  text-decoration: none;
}

p{
  font-size: var(--fontsize-p);
  color: #ffffffbf;
  margin: 10px;
}
h1{
  margin: 10px;
  font-size: 3.3rem;
}
h2{
  font-size: 1.4rem;
}
.abouthead{
  margin: 15px 10px;
  font-size: 1.6rem;
}
h3{
  font-size: 1.4rem;
  margin: 37px 0 0 90px;
}
h4{
  font-size: 1.2rem;
  margin: 24px 0 0 90px;
}

.social
{
  width: 50%;
  height: 14%;
  position: absolute;
  bottom: 4%;
  right: 25%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnsame{
  height: 50px;
  width: 50px;
  margin: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 400ms;
  position: relative;
}

.btnsame:hover {
  background-color: #ffffff80;
}
.active
{
  background-color: #ffffff80;
  font-weight: bolder;
}

.lang-select{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 4%;
  right: 2%;
  font-size: 22px;
  cursor: pointer;
}


@media all and (max-width: 600px) {
  :root {
    --fontsize-nav:1.2rem;
    --sidebar-flex:0;
    --typing-font:1.4rem;
  }
  body{
    height: 1400px;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: 30px;
  }

  nav
  {
    width: 90%;
    top: 15%;
    left: 5%;
  }
  nav ul li
  {
    margin: 10px;
  }

  h2{
    font-size: 2.2rem;
  }
  p{
    font-size: 1.4rem;
  }
  .condiv
  {
    top: 110%;
    left: 5%;
    width: 84.5%;
    height: 100%;
    margin-bottom: 50px;
  }
  h1{
    text-align: center;
    font-size: 2.8rem;
  }

  h3{
    margin-top: 25px;
  }

  .social
  {
    width: 90%;
    bottom: 5%;
    right: 5%;
  }
  .btnsame{
    margin: 15px 10px;
  }
}
